@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/karu-regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/karu-medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/karu-bold.ttf") format("truetype");
    font-weight: 700;
}

@theme {
    --color-primary: #ff3c28;
    --color-secondary: #00a0e0;
    --color-tertiary: #2d2d2d;
    --color-neutral: #f3f0f0;
    --color-bluelight: #007fe0;
    --color-bluelight: #007fe0;
    --font-family-sans: "Montserrat", system-ui, sans-serif;
}
